<%= content_for(:title) do %>
Hafuru - Welcoming Gratefulness
<% end %>

<% content_for(:navbar_class, "navbar-home") %>

<!-- Banner -->
<div class="home-container">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/le-wagon-hcquach/image/upload/v1528120306/friends-backpacking-together_4460x4460.jpg');">
    <div class="banner-content">
      <h1>Hafuru</h1>
      <p><span id="banner-typed-text"></span></p>
      <%= link_to "Start now", new_user_session_path, class: "button new-quote animated" %>
    </div>
  </div>
</div>

<!-- Quotes and Form -->
<div class="home-container">
  <div class="container-testimonials-form">
    <div class="testimonials">
      <div class="page animated" style="background:#8aa651">
        <div class="quotes-container">
          <blockquote class="quote">
            <p class="quote__body">Loading&hellip;</p>
          </blockquote>
        <div class="cta">
          <button class="button new-quote animated">Get Inspired</button>
        </div>
      </div>
    </div>
    <div class="quote-hafuru-footer">
      <p>From Hafuru with <i class="fas fa-heart"></i></p>
    </div>
  </div>

  <div class="home-form text-center">
    <div class="form-inner-container">
    <form id="letter-form", action="/gratitudes" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <p>Today I'm
        <label for="title">grateful</label> for
        <input type="text" name="gratitude[title]" id="title" minlength="3" placeholder="(coffee, music, sun)" required></p>
      <p>
        <label for="description">Because</label><br>
        <input type="text" name="gratitude[description]" id="description" placeholder="(it made me smile)" required>
      </p>
      <p><label for="category">Category</label>
        <select name="gratitude[category_id]", style="color: grey">
          <% Category.all.each do |cat| %>
            <option value="<%= cat.id %>"><%= cat.name %></option>
          <% end %>
        </select>
      </p>
      <p>
        <div class="cta">
         <button type= "submit" class="button new-quote animated">Create</button>
       </div>
      </p>
      </div>
       <div class="quote-self-footer">
        <p>To your inner self with <i class="fas fa-heart"></i></p>
      </div>
      </div>
    </form>
  </div>
</div>
  </div>
</div>
