<%= content_for(:title) do %>
Hafuru - Gratitude Login
<% end %>
<div id="sign-box">
  <div class="details">
    <h1>Login</h1>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.input :email, required: false, autofocus: true %>
        <%= f.input :password, required: false %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        <%= f.button :submit, "Log in" %>
     <% end %>
     <%= render "devise/shared/links" %>
  </div>
</div>
