<div class="gratitude-wrapper">

    <div class="gratitude-container">

      <div class="gratitude-info">
        <div class="gratitude-date">
          <p><%= @collaboration.matched_gratitude.updated_at.strftime("%b") %> <%= @collaboration.matched_gratitude.updated_at.year %></p>
          <div id="day"><%= @collaboration.matched_gratitude.updated_at.day %></div>
        </div>
        <div class="gratitude-title">
          <h2>Grateful for<br>#<%= @collaboration.matched_gratitude.title %></h2>
        </div>
      </div>

      <div class="gratitude-photo">

        <%= cl_image_tag @collaboration.matched_gratitude.photo, height: 400, width: 500, crop: :fill, :background=>"#659DBD", :radius=>5 %>
        <div class="gratitude-subtitle">
          <h2 style="background-color: rgba(10, 10, 10, 0.3); padding: 5px 5px; margin: 5px 0px; border-radius: 2px">#<%= @collaboration.matched_gratitude.category.name %></h2>
        </div>
      </div>
  </div>
