<div class="collabs-container">

  <div class="collabs-title text-center">
    <h1>My Collabs</h1>
  </div>

  <div class="collabs-wrapper">

  <% @matching_collaborations.each do |collaboration| %>
    <% gratitude = collaboration.matching_gratitude %>
    <div class="col-xs-12 col-md-4">
      <div class="single-collab-container">
        <div class="collab-photo">
            <%= link_to collaboration_path(collaboration) do %>
              <%= cl_image_tag gratitude.category.photo, height: 200, width: 300, crop: :fill %>
              <div class="category-title top-right">
                <p>#<%= gratitude.title %></p>
              </div>
            <% end %>
        </div>
        <div class="collab-title">
          <%= collaboration.matching_gratitude.user.username %> X <%= collaboration.matched_gratitude.user.username %>
        </div>

        <div class="collab-delete">
          <%= link_to "Delete", collaborations_path(@gratitude), method: :delete, data: { sweet_confirm: "Are you sure?" } %>
        </div>
      </div>
    </div>
    <% end %>

  <% @matched_collaborations.each do |collaboration| %>
    <% gratitude = collaboration.matched_gratitude %>
    <div class="col-xs-12 col-md-4">

      <div class="single-collab-container">
        <div class="collab-photo top-right">
            <%= link_to collaboration_path(collaboration) do %>
              <%= cl_image_tag gratitude.category.photo, height: 200, width: 300, crop: :fill %>
              <div class="category-title top-right">
                <p>#<%= gratitude.title %></p>
              </div>
            <% end %>
        </div>
        <div class="collab-title">
          <strong>
          <%= collaboration.matching_gratitude.user.username %> X <%= collaboration.matched_gratitude.user.username %>
          <strong>
        </div>

        <div class="collab-delete">
          <%= link_to "Delete", collaborations_path(@gratitude), method: :delete, data: { sweet_confirm: "Are you sure?" } %>
        </div>
      </div>
    </div>
    <% end %>

  </div>

</div>
