<div class="collab-wrap">
  <div class="left-bar-collab">
    <div class="chat-collab">
      <div class="col-xs-12">
        <% @chat_room = ChatRoom.find(@collaboration.chat_room_id) %>
        <div class="chat-header text-center">
          <h4>Collaborate with
            <%= @collaboration.match.matching_gratitude.user == current_user ? @collaboration.match.matched_gratitude.user.username.capitalize : @collaboration.match.matching_gratitude.user.username.capitalize %>
          </h4>
        </div>
        <div class="messages">
          <% @chat_room.messages.each do |message| %>
            <%= render partial: "messages/message", locals: { message: message, user_is_messages_author: message.user == current_user } %>
          <% end %>
        </div>
        <div id="create-message">
          <%= simple_form_for [ @chat_room, Message.new ], remote: true do |f| %>
            <%= f.input :content, label: false %>
          <% end %>
        </div>
      </div>
      <% content_for :after_js do %>
        <script>
          scrollLastMessageIntoView();
          App['chat_room_<%= @chat_room.id %>'] = App.cable.subscriptions.create(
            { channel: 'ChatRoomsChannel', chat_room_id: <%= @chat_room.id %> },
            {
              received: (data) => {
                scrollLastMessageIntoView();
                if (data.current_user_id !== <%= current_user.id %>) {
                  const messagesContainer = document.querySelector('.messages');
                  messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
                  scrollLastMessageIntoView();
                }
              }
            });
        </script>
      <% end %>
    </div>
  </div>

  <div class="collab-items-container">
    <div class="collab-title">
      <h1>30-day Challenge on #<%= @collaboration.match.matching_gratitude.category.name %></h1>
    </div>
    <div class="collab-subtitle">
      <h2><%= @collaboration.match.matching_gratitude.user.username.capitalize %> X <%= @collaboration.match.matched_gratitude.user.username.capitalize %></h2>
    </div>

    <div class="photos-container">


      <% @collaboration.collaboration_items.each do |item| %>

      <div class="card-collab-item">

        <% if item.matching_user_gratitude_id  && item.matched_user_gratitude_id %>
        <!-- the gratitude style index -->
        <div class="gratitude-collaboration-photo">
            <%= cl_image_tag @collaboration.matching_gratitude.photo, height: 200, width: 150,crop: :fill, :background=>"#659DBD", :radius=>5 %>
            <div class="gratitude-collaboration-title">
              <p style="background-color: rgba(10, 10, 10, 0.3); padding: 5px 5px; margin: 5px 0px; border-radius: 2px">#<%= item.matching_user_gratitude.title %></p>
            </div>
            <div class="gratitude-collaboration-description overlay">
              <p><%= item.matching_user_gratitude.description %></p>
              <% if @collaboration.matching_gratitude.user == current_user %>
                <div class="collab-item-edit-btn">EDIT</div>
              <% end %>
            </div>
        </div>
        <!-- end -->
        <!-- the second gratitude style index -->
          <div class="gratitude-collaboration-photo">
            <%= cl_image_tag @collaboration.matched_gratitude.photo, height: 200, width: 150, crop: :fill, :background=>"#659DBD", :radius=>5 %>
            <div class="gratitude-collaboration-title">
              <p style="background-color: rgba(10, 10, 10, 0.3); padding: 5px 5px; margin: 5px 0px; border-radius: 2px">#<%= item.matched_user_gratitude.title %></p>
            </div>
            <div class="gratitude-collaboration-description overlay">
              <p><%= item.matched_user_gratitude.description %></p>
              <% if @collaboration.matched_gratitude.user == current_user %>
                <div class="collab-item-edit-btn">EDIT</div>
              <% end %>
            </div>
          </div>
        <!-- end -->
       <% elsif item.matching_user_gratitude_id.nil? && item.matched_user_gratitude_id.nil? && @collaboration.collaboration_items.count < 30 %>
        <!-- Bootstrap Modal -->
        <div class="gratitude-collaboration-photo">
          <div class=" add-new-collab">
            <button type="button" class="button new-quote animated" data-toggle="modal" data-target=".bs-example-modal-lg">Add</button>
          </div>
        </div>

        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="row">
                <div class="col-md-8 ">
                  <%= render partial: "gratitudes/form" ,
                    locals: { collaboration_id: @collaboration.id, grat_path: [item, @gratitude] } %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of modal -->
      <% elsif item.matching_user_gratitude_id && item.matched_user_gratitude_id.nil? && @collaboration.collaboration_items.count < 30 %>
        <% if item.matching_user_gratitude.user == current_user %>
          <%= render partial: "ready_matching", locals: {item: item} %>
          <p>please wait for your match to add his/her gratitude before adding yours </p>
        <% else %>
          <%= render partial: "ready_matching", locals: {item: item} %>
        <!-- Bootstrap Modal -->

         <div class="gratitude-collaboration-photo">
          <div class=" add-new-collab">
            <button type="button" class="button new-quote animated" data-toggle="modal" data-target=".bs-example-modal-lg">Add</button>
          </div>
        </div>

        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="row">
                <div class="col-md-8 ">
                  <%= render partial: "gratitudes/form" ,
                    locals: { collaboration_id: @collaboration.id, grat_path: [item, @gratitude] } %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of modal -->
        <% end %>

      <% elsif item.matching_user_gratitude_id == nil && item.matched_user_gratitude_id && @collaboration.collaboration_items.count < 30 %>

        <% if item.matched_user_gratitude.user == current_user %>
          <%= render partial: "ready_matched", locals: {item: item} %>
          <p>please wait for your match to add his/her gratitude before adding yours </p>
        <% else %>
          <%= render partial: "ready_matched", locals: {item: item} %>
        <!-- Bootstrap Modal -->

         <div class="gratitude-collaboration-photo">
          <div class=" add-new-collab">
            <button type="button" class="button new-quote animated" data-toggle="modal" data-target=".bs-example-modal-lg">Add</button>
          </div>
        </div>

        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="row">
                <div class="col-md-8 ">
                  <%= render partial: "gratitudes/form" ,
                    locals: { collaboration_id: @collaboration.id, grat_path: [item, @gratitude] } %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of modal -->
        <% end %>
      <% end %>


      </div>

    <% end %>

    </div>

  </div>

</div>

<!-- <div class="buttons-collaborations">
  <a id="delete-sweet" class="btn btn-danger" href="#">Delete</a>
  <#%= link_to "Delete", collaboration_path(@collaboration) ,method: :delete, remote: false, style: "display: none;", id: "delete-hidden"%>
</div> -->
