<%= simple_form_for(gratitude, html: {class: 'form-horizontal' }) do |f| %>
<p>lolol</p>
  <div class="collab-show">
    <div class="title-description">
      <%= f.input :title, class: "label-input" %>
      <%= f.input :description, :as => :text, :input_html => { :rows => 1 }, class: "label-input" %>
    </div>
  </div>
  <div class="cat-photo-create">
    <%#= f.association :category, collection: Category.order(:name), prompt: "Choose a Category", class: "label-input" %>
    <%= f.input :photo, class: "label-input" %>
    <%= f.input :photo_cache, as: :hidden, class: "label-input" %>
    <div class="create-btn">
      <%= f.submit "Save", class: "btn btn-primary btn-lg btn-block", id: "create-sweet-alert", remote: true %>
    </div>
  </div>
<% end %>
