<%= content_for(:title) do %>
Hafuru - #Gratefulness
<% end %>
<div class="board-wrapper">

  <div class="board-stats text-center">
    <div class="board-count">
      <%= @gratitudes.count %>
    </div>
    <h2>Gratitudes<br>&<br>Awesome stuffs</h2>
  </div>

  <div class="board-photos">
    <% @gratitudes.each do |gratitude| %>
      <div class="col-xs-12 col-md-4" style="padding: 0px">
        <div class="gratitude-photo">
          <%= link_to gratitude_path(gratitude) do %>
            <%= cl_image_tag gratitude.photo, height: 200, width: 300, crop: :fill, :background=>"#659DBD", :radius=>5 %>
            <div class="gratitude-title">
              <p style="background-color: rgba(10, 10, 10, 0.3); padding: 5px 5px; margin: 5px 0px; border-radius: 2px">#<%= gratitude.title %></p>
            </div>
            <div class="gratitude-description overlay">
              <p><%= gratitude.description %></p>
            </div>
            <% if gratitude == @gratitudes.last %>
              <%= link_to new_gratitude_path do %>
                <div class="gratitude-add">
                  <p>+</p>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
