<% content_for(:navbar_class, "navbar-transparent") %>

<%= content_for(:title) do %>
Hafuru - Create Gratitude
<% end %>

<div class="col-xs-12 col-md-6 col-md-offset-3">
<%= simple_form_for(@gratitude, html: {class: 'form-horizontal' }) do |f| %>
  <%= f.input :title, class: "label-input" %>
  <%= f.input :description, :as => :text, :input_html => { :rows => 7 }, class: "label-input" %>

  <fieldset class="form-group">

    <input type="hidden" name="gratitude[category_id]" value="">

    <div class="category-choices">

        <% Category.all.sort.each do |category| %>

          <input class="hidden" type="radio" value="<%= category.id %>" name="gratitude[category_id]" id="gratitude_category_id_<%= category.id %>">

          <label class="category-choice collection_radio_buttons" for="gratitude_category_id_<%= category.id %>">
            <%= category.name %>
            <i class="fas <%= category.icon %>"></i>
          </label>

        <% end %>

       </div>

  </fieldset>

  <%= f.input :photo, class: "label-input" %>
  <%= f.input :photo_cache, as: :hidden, class: "label-input" %>

  <div class="create-btn">
    <%= f.submit "Create", class: "btn btn-primary btn-lg btn-block" %>
  </div>
<% end %>

</div>
