<% content_for(:navbar_class, "navbar-transparent") %>

<%= content_for(:title) do %>
Hafuru - Create Gratitude
<% end %>

<div class="global-form-wrapper", style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/tokyo'); background-size: cover;">

  <%= simple_form_for(@gratitude, html: {class: 'form-horizontal' }) do |f| %>
    <div class="form-container">
      <div class="title-description-photo">
        <div class="gratitude-form-title">
          <%= f.input :title, :as => :text, class: "label-input", label: "Today I'm grateful for" %>
        </div>
        <div class="gratitude-form-description">
          <%= f.input :description, :as => :text, :input_html => { :rows => 2 }, class: "label-input", label: "because" %>
        </div>
        <div class="gratitude-form-photo">
          <%= f.input :photo, class: "label-input" %>
          <%= f.input :photo_cache, as: :hidden, class: "label-input" %>
        </div>
        <div id="stamp">
          <%= image_tag("stamp.png", height: '100', width: '100') %>
        </div>
      </div>

      <div class="category-send">
        <div class="category">
          <div class="category-choose-title">
            <p>Choose a category</p>
          </div>
          <fieldset class="form-group">
            <input type="hidden" name="gratitude[category_id]" value="">
              <div class="category-choices">
                <% Category.all.sort.each do |category| %>
                <input class="hidden" type="radio" value="<%= category.id %>" name="gratitude[category_id]" id="gratitude_category_id_<%= category.id %>">
                  <label class="category-choice collection_radio_buttons" for="gratitude_category_id_<%= category.id %>">
                    <%= category.name %>
                    <i class="fas <%= category.icon %>"></i>
                  </label>
                <% end %>
              </div>
          </fieldset>
        </div>

        <div class="message-button">
          <div class="form-message">
            <p>To:<br>My inner self with <i class="fas fa-heart"></i></p>
          </div>
          <div class="create-edit-btn">
            <%= f.submit "Create", class: "button new-quote animated" %>
          </div>
        </div>

      </div>
    </div>
  <% end %>
</div>

