<% if policy(@gratitude).show? %>

  <div class="gratitude-wrapper">

    <div class="gratitude-container">

      <div class="gratitude-info">
        <div class="gratitude-date">
          <p><%= @gratitude.updated_at.strftime("%b") %> <%= @gratitude.updated_at.year %></p>
          <div id="month"><%= @gratitude.updated_at.day %></div>
        </div>
        <div class="gratitude-title">
          <h2>Grateful for<br>#<%= @gratitude.title %></h2>
        </div>
      </div>

      <div class="gratitude-photo">
        <%= cl_image_tag @gratitude.photo, height: 400, width: 500, crop: :fill %>
        <div class="gratitude-title top-right">
          <h2>#<%= @gratitude.category.name %></h2>
        </div>
      </div>

    <div class="gratitude-button-container">
      <%= link_to "Board" %>
      <%= link_to "Edit" %>
      <%= link_to "Delete" %>
      <%= link_to "Match", gratitude_matches_path(@gratitude), method: :create %>
    </div>

    </div>

    <div class="gratitude-description">
      <p><%= @gratitude.description %></p>
    </div>

    </div>

<% end %>
